// src/components/styles/_variables.scss

// Colors
$primary-color: #007bff;
$dark-color: #343a40;
$light-color: #f8f9fa;
$primary-text-color: #5b5b5b;

// Typography
$base-font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$base-font-size: 1rem;

// Add more variables as needed

